
<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Lost and Found Portal</title>
  <link rel="icon" type="image/png" href="images/temp logo.jpg"/>  
  {% block css %} <link rel="stylesheet" href="{% static 'accounts/css/style01.css' %}">   {% endblock css %}
</head>
<body class>
  <nav class="navbar antiquewhite">
    <ul>
    <li><img class="smol" src="/images/temp logo.jpg" alt=""></li>
      <li class="mtop"><a href="index.html">Home</a></li>
      <li class="mtop"><a href="lost_items.html">Lost Items</a></li>
      <li class="mtop"><a href="found_items.html">Found Items</a></li>
      <li class="mtop"><a href="report_lost_item.html">Report Lost Item</a></li>
      <li class="mtop"><a href="report_found_item.html">Report Found Item</a></li>
      <li class="mtop"><a href="claim_item.html">Claim Item</a></li>
      <li class="mtop"><a href="faq.html">FAQ</a></li>
      <li class="mtop"><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</nav>
  


<main>
    <div
      class="container-fluid bg-trasparent my-4 p-3"
      style="position: relative">
      <div
        class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"
      >
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="/images/calc.jpeg"
              class= "dimg"
              alt="..."
            />
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
               <span class="float-start badge rounded-pill bg-primary"
                  >Stationary</span
                > 
                <span class="float-end price-hp">04/06/2023</span>
              </div>
              <h5 class="card-title">
                   Casio FX-991ex Black Calculator
              </h5>

              <p>
                Fount in LT-303
              </p>
              
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  
                  
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
            </div>
          </div>
        </div>

         <!-- first one ends here -->
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img src="/images/school bag.jpg" alt="" class="ddimg">
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-success"
                  >Bag</span
                ><span class="float-end price-hp"> 15/05/23</span>
              </div>
              <h5 class="card-title">
                  American Tourister black and red bag
              </h5>

              <p>
                Bag was found at B block (B-116)
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="images/earapods.jpg" alt="..." style="height: 250px; width: 250px; padding:auto; margin: auto;"/>
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-onemore"
                  >Earbuds</span
                >
                <span class="float-end price-hp">12/05/23</span>
              </div>
              <h5 class="card-title">
                  Mi Earbuds
              </h5>

              <p>
                Found in G-Block Cafeteria 
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
              <div class="clearfix mb-1">
                <span class="float-start"
                  ><i class="far fa-question-circle"></i
                ></span>
                <span class="float-end"><i class="fas fa-plus"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="/images/watch2.jpeg" class="dimg"
              alt="..." style="margin: auto;"
            />
           
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                  <span class="float-start badge rounded-pill bg-success"
                  >Wrist Watch</span>
                <span class="float-end price-hp">10/04/23</span>
              </div>
              <h5 class="card-title">
                  Metal Wrist Watch
              </h5>

              <p>
                Found in Hostel-M near the reading room
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
              <div class="clearfix mb-1">
                <span class="float-start"
                  ><i class="far fa-question-circle"></i
                ></span>
                <span class="float-end"><i class="fas fa-plus"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Delete From here -->


    <div
      class="container-fluid bg-trasparent my-4 p-3"
      style="position: relative">
      <div
        class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"
      >
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="/images/calc.jpeg"
              class= "dimg"
              alt="..."
            />
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
               <span class="float-start badge rounded-pill bg-primary"
                  >Stationary</span
                > 
                <span class="float-end price-hp">04/06/2023</span>
              </div>
              <h5 class="card-title">
                   Casio FX-991ex Black Calculator
              </h5>

              <p>
                Fount in LT-303
              </p>
              
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  
                  
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img src="/images/school bag.jpg" alt="" class="ddimg">
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-success"
                  >Bag</span
                ><span class="float-end price-hp"> 15/05/23</span>
              </div>
              <h5 class="card-title">
                  American Tourister black and red bag
              </h5>

              <p>
                Bag was found at B block (B-116)
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="images/earapods.jpg" alt="..." style="height: 250px; width: 250px; padding:auto; margin: auto;"/>
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-onemore"
                  >Earbuds</span
                >
                <span class="float-end price-hp">12/05/23</span>
              </div>
              <h5 class="card-title">
                  Mi Earbuds
              </h5>

              <p>
                Found in G-Block Cafeteria 
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
              <div class="clearfix mb-1">
                <span class="float-start"
                  ><i class="far fa-question-circle"></i
                ></span>
                <span class="float-end"><i class="fas fa-plus"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="/images/watch2.jpeg" class="dimg"
              alt="..." style="margin: auto;"
            />
           
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                  <span class="float-start badge rounded-pill bg-success"
                  >Wrist Watch</span>
                <span class="float-end price-hp">10/04/23</span>
              </div>
              <h5 class="card-title">
                  Metal Wrist Watch
              </h5>

              <p>
                Found in Hostel-M near the reading room
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
              <div class="clearfix mb-1">
                <span class="float-start"
                  ><i class="far fa-question-circle"></i
                ></span>
                <span class="float-end"><i class="fas fa-plus"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-fluid bg-trasparent my-4 p-3"
      style="position: relative">
      <div
        class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"
      >
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="/images/calc.jpeg"
              class= "dimg"
              alt="..."
            />
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
               <span class="float-start badge rounded-pill bg-primary"
                  >Stationary</span
                > 
                <span class="float-end price-hp">04/06/2023</span>
              </div>
              <h5 class="card-title">
                   Casio FX-991ex Black Calculator
              </h5>

              <p>
                Fount in LT-303
              </p>
              
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  
                  
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img src="/images/school bag.jpg" alt="" class="ddimg">
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-success"
                  >Bag</span
                ><span class="float-end price-hp"> 15/05/23</span>
              </div>
              <h5 class="card-title">
                  American Tourister black and red bag
              </h5>

              <p>
                Bag was found at B block (B-116)
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="images/earapods.jpg" alt="..." style="height: 250px; width: 250px; padding:auto; margin: auto;"/>
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-onemore"
                  >Earbuds</span
                >
                <span class="float-end price-hp">12/05/23</span>
              </div>
              <h5 class="card-title">
                  Mi Earbuds
              </h5>

              <p>
                Found in G-Block Cafeteria 
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
              <div class="clearfix mb-1">
                <span class="float-start"
                  ><i class="far fa-question-circle"></i
                ></span>
                <span class="float-end"><i class="fas fa-plus"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 shadow-sm antiquewhite">
            <img
              src="/images/watch2.jpeg" class="dimg"
              alt="..." style="margin: auto;"
            />
           
            <div class=" antiquewhite card-body">
              <div class="clearfix mb-3">
                  <span class="float-start badge rounded-pill bg-success"
                  >Wrist Watch</span>
                <span class="float-end price-hp">10/04/23</span>
              </div>
              <h5 class="card-title">
                  Metal Wrist Watch
              </h5>

              <p>
                Found in Hostel-M near the reading room
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-warning align-self-end me-md-2" type="button">Details</button>
                </div>
              <div class="clearfix mb-1">
                <span class="float-start"
                  ><i class="far fa-question-circle"></i
                ></span>
                <span class="float-end"><i class="fas fa-plus"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>


  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-light text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; LNF 2023</small>
    </div>
  </footer>
</body>
</html>
